@value primaryFont from '../theme/typography.scss';
@value primary as primaryColor from '../theme/colors.scss';
@value secondary as secondaryColor from '../theme/colors.scss';
@value tertiary as tertiaryColor from '../theme/colors.scss';
@value base as baseSpacing from '../spacing.css';

.characterAbilities {
  margin-right: calc(baseSpacing * 2);

  table {
    border-collapse: collapse;
    font-size: calc(baseSpacing * 1.5);
  }

  thead {
    text-transform: uppercase;
    font-weight: lighter;
    font-family: primaryFont;
  }

  tbody {
    td {
      border: solid primaryColor 1px;
      background: secondaryColor;
      min-width: calc(baseSpacing * 6);
    }

    tr:global(.computed) {
      th:not(:empty) div {
        background: tertiaryColor;
        color: secondaryColor;
        font-weight: 100;
        border-bottom-left-radius: baseSpacing;
        border-top-left-radius: baseSpacing;
        // TODO: Find a way to rotate without obscuring input
        /* Currently causing z-index issues */
        /*transform: rotateZ(20deg) translateX(4px);
        transform-origin: bottom right;
        transform-style: flat;
        padding-right: 20px;*/
        padding: baseSpacing;
      }
      &:global(.output) th:not(:empty) div{
        background: primaryColor;
      }
    }
  }

  :global(tr.editable) {
    td {
      border-width: 2px;

      input {
        min-height: calc(baseSpacing * 5);
      }
    }
  }

  :global(tr.output) {
    td {
      border-width: 2px;
    }
  }

  :global(tr.computed) {
    td {
      border: solid tertiaryColor 1px;
    }
    &:global(.output) {
      td {
        border: solid primaryColor 2px;
      }
    }
  }

  // Cells
  td {
    input:global(.ability) {
      width: 2em;
      height: 100%;
      border: none;
      font-size: calc(baseSpacing * 2);
      text-align: center;

      &:focus {
        outline: none;
      }
    }
    &:global(.tab) {
      background: primaryColor;
      color: secondaryColor;
      border-bottom-right-radius: calc(baseSpacing * 0.7);
      border-bottom-left-radius: calc(baseSpacing * 0.7);
      font-size: baseSpacing;
      text-align: center;
      text-transform: uppercase;
      padding: calc(baseSpacing * 0.3);
    }
  }
}
