{
    "extends": "airbnb-base",
    "rules": {
        "indent": [
            "error",
            2
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-underscore-dangle": 0,
        "no-unused-vars": [
          "error",
          { "argsIgnorePattern": "^_" }
        ]
    },
    "env": {
        "es6": true,
        "browser": true,
        "mocha": true,
    },
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true,
      }
    },
    "plugins": [
        "react"
    ]
}
