.flex {
  display: flex;
}

// align items
.alignItemEnd {
  align-items: flex-end;
}

.alignItemsBase {
  align-items: baseline;
}

// Direction of flow
.row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.alignContentEnd {
  align-content: flex-end;
}
