@value base as baseSpacing from './spacing.css';
@value primary as primaryColor from './theme/colors.scss';
@value secondary as secondaryColor from './theme/colors.scss';

.base {
  border: none;
}

.simpleText {
  composes: triple from "./theme/typography.scss";
  composes: base;
  text-align: center;
  margin-left: 10px;
  font-weight: lighter;
}

.simpleText:focus {
  outline: none;
}

.ratioInput {
  border: solid black 2px;
  text-align: left;

  label {
    margin: 4px;
    font-size: .5em;
  }

  input {
    width: 50px;
    font-size: 1.5em;
  }

  :global(.numerator) {
    text-align: left;
    vertical-align: top;
    position: relative;

    label {
      vertical-align: top;
    }

    &::after {
      content: "";
      width: 10px;
      height: 115%;
      border-right: solid #ccc 2px;
      position: absolute;
      right: 0;
      top: -6px;
      transform: rotateZ(30deg);
    }
  }

  :global(.denominator) {
    text-align: right;
    vertical-align: bottom;
  }

  > div {
    display: inline-block;
  }
}

.label {
  font-family: 'Titillium Web';
  text-transform: capitalize;
  margin: 10px;
}

.underlinedLabel {
  composes: label;
  border-bottom: solid black 1px;
}

.defenseStat {
  border: solid primaryColor 2px;
  border-top-left-radius: 20px;
  background: primaryColor;
  color: secondaryColor;
  padding: 3px 2px 3px 5px;
  height: calc(baseSpacing * 4);
}

.defenseStatLabel {
  margin: 0 5px 0 0;
  display: inline-block;
  vertical-align: bottom;
  composes: double from "./theme/typography.scss";
}

.defenseStatInput {
  height: 85%;
  vertical-align: top;
  composes: double from "./theme/typography.scss";
  text-align: center;
}
