@value base as baseSpacing from './spacing.css';
@value primary as primaryColor from './theme/colors.scss';
@value secondary as secondaryColor from './theme/colors.scss';

.base {
  border: none;
}

.simpleText {
  composes: triple from "./theme/typography.scss";
  composes: base;
  text-align: center;
  margin-left: 10px;
  font-weight: lighter;
}

.simpleText:focus {
  outline: none;
}

label.basic input {
  margin-left: 10px;
  font-size: 0.7em;
  font-weight: lighter;
}

label input:focus {
  outline: none;
}

.defenseStat {
  border: solid primaryColor 2px;
  border-top-left-radius: 20px;
  background: primaryColor;
  color: secondaryColor;
  padding: 3px 2px 3px 5px;
  height: calc(baseSpacing * 4);
}

.defenseStatLabel {
  margin: 0 5px 0 0;
  display: inline-block;
  vertical-align: bottom;
  composes: double from "./theme/typography.scss";
}

.defenseStatInput {
  height: 85%;
  vertical-align: top;
  composes: double from "./theme/typography.scss";
  text-align: center;
}
