.base {
  border: none;
}

.simpleText {
  composes: triple from "./theme/typography.scss";
  composes: base;
  text-align: center;
  margin-left: 10px;
  font-weight: lighter;
}

.simpleText:focus {
  outline: none;
}

label.basic input {
  margin-left: 10px;
  font-size: 0.7em;
  font-weight: lighter;
}

label input:focus {
  outline: none;
}
